$color-primary: #55c57a;
$color-primary-light: #7269ef;
$color-primary-dark: #28b485;

$color-grey-light-1: #878a92;
$color-grey-light-2: #e6ebf5;
$color-grey-light-3: #f5f7fb;
$color-grey-dark: #495057;
$color-grey-dark-3: #343a40;
$color-grey-dark-2: #7a7f9a;
$color-white: #fff;
$color-white-2: #f0eff5;
$color-black: #000;

$color-red-pink: #ef476f;
$color-red-pink-light: rgba(239, 71, 111, 0.18);

$color-online: #06d6a0;
$color-away: #ffd166;

// font
$defult-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizental: 6rem;
