$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #878a92;
$color-grey-light-2: #E6EBF5;
$color-grey-dark: #495057;
$color-white: #fff;
$color-black: #000;

$color-online: #06d6a0;
$color-away: #ffd166;

// font
$defult-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizental: 6rem;
