.badge-round {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $color-red-pink-light;
  color: $color-red-pink;
}

.badge {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  &-online {
    background-color: brown;
  }
  &-offline {
    background-color: $color-grey-dark-2;
  }
  &-away {
    background-color: aquamarine;
  }
}
