.center__wrapper {
  &--top {
    padding: 2.5rem;
    padding-bottom: 1rem;

    .search-input {
      display: flex;
      align-items: center;

      span {
        position: relative;
        width: 10%;
        height: 3.9rem;
        background-color: #e6ebf5;
        border-radius: 5px 0px 0px 5px;

        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 2px;
          font-size: 1.8rem;
        }
      }
      input {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .users-carousel {
    ul {
      color: transparent;
      overflow-x: scroll;
      display: flex;
      transition: color 0.3s ease;

      li {
        list-style: none;
        width: 7rem;
        background-color: $color-grey-light-2;
        border-radius: 0.8rem;
        flex: none;
        padding: 0.8rem;
        text-align: center;
        position: relative;
        margin: 1.6rem 0.8rem 0 0;

        .user-carousel__thumbnail {
          position: absolute;
          top: -1.5rem;
          right: 50%;
          transform: translateX(50%);
          z-index: 2;
        }

        h2 {
          margin: 1.6rem 0 0.4rem 0;
        }
      }

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        height: 1.3rem;
        //width: 1rem;
        background-clip: padding-box;
        border-radius: 13px;
        border: 4px solid transparent;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 4px;
      }

      &:hover {
        color: rgba(128, 128, 128, 0.726);
      }
    }
  }

  &--bottom {
    padding: 0 0.8rem;
    .chat-list {
      display: flex;
      flex-direction: column;

      li {
        a {
          display: flex;
          padding: 1.5rem 2rem;
          justify-content: space-between;
          transition: all 0.4s;

          .user-thumbnail {
            margin-right: 1.6rem;
          }

          .chat-content {
            flex: 1;

            .typing {
              color: $color-primary-light;
              font-weight: 600;
            }
          }

          .chat-right {
            position: relative;

            .unread-message {
              top: 40%;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &:hover {
            background-color: $color-grey-light-2;
          }
        }
        .active {
          background-color: $color-grey-light-2;
        }
      }
    }
  }
}
